html, body, #root {
    width: 100%;
    height: 100%;
  }
  
  .SplitPane {
    width: 100%;
    height: 100%;
  }
  
  .SplitPane-left {
    float: left;
    width: 30%;
    height: 100%;
    background: #d3d4d9;
  }
  
  .SplitPane-right {
    float: left;
    width: 70%;
    height: 100%;
    background: #f0f7ee;
   
  }
  
 .rightFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

  