.nav-button {
    background-color: #282c34;
    color: white;
    padding: 1%;
    font-size: 20px;
    width: 33%;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none
  }
.nav{
  background-color: #d9d9d9;
  padding: 1%;
  width: 100%;
  display: flex;
}

.logo{
  width:20%;
  display:block;
}