.nav-button {
    background-color: #282c34;
    color: white;
    padding: 1%;
    width: 33%;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: calc(10px + 2vmin);
  }
.nav{
  background-color: #d9d9d9;
  width: 100%;
  display: flex;
}
.nav-button:focus{
  background-color: #a6cb12;
  color: black
}
.logo{
  width:15%;
  display:block;
}