.order {
    background-color: #efcb68;
    color: #0d1321;
    padding: 1%;
    text-align: center;
    vertical-align: middle;
    line-height: -moz-block-height;
}

.col{
    flex:1;
}

.itemOrder{    
        background: #d3d4d9;
        position: absolute;
        right: 0;  
        padding: 2%  
}

.orderReady{
    width: 100%;
    border: 1px #0d1321 solid;
}