.App {
  text-align: center;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App-header {
  background-color: #0d1321;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-buttons{
    background: #0d1321;
    color: white;    
    padding: 5%;
    width: 50%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.in-between{
  display: flex;
}
